* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 25px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
main{
    width: 594px;
    height: 760px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    


}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 594px;
    padding-top: 50px;
    padding-right: 57px;
    padding-bottom: 73px;
    padding-left: 57px;
    gap: 36px;

}
header{
    width: 352px;
    height: 145px;
    gap: 20px;
}
.title{
    width: 352px;
    height: 60px;
    font-family: Hanken Grotesk;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #8E8E8E;
    text-align: center;
    
}
.title h2{
    color: #D9D9D9;
    margin-bottom: 6px;
}
.status{
    width: 352px;
    height: 70px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    background: #10A95B;
    text-align: center;
}
aside{
    width: 350px;
    height: 52px;
    gap: 1.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
aside span{
    height: 25px;
    border-radius: 3px;
    padding: 5px;
    gap: 5px;
    width: fit-content;
}
aside span.chip.lost {
    position: relative; /* باش ::before يكون بالنسبة للspan */
}
aside span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


.letters{
    width: 334px;
    height: 40px;
    gap: 2px;
    display: flex;
    justify-content: center;
}
.letters p{
    width: 40px;
    height: 40px;
    padding: 6px;
    border-bottom-width: 1px;
    background: #323232;
    border-bottom: 1px solid #F9F4DA;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.keybord{
    width: 480px;
    height: 164px;
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.keybord button{
    width: 40px;
    height: 40px;
    gap: 6px;
    border-radius: 4px;
    border-width: 1px;
    padding: 6px;
    border: 1px solid #D7D7D7;
    background: #FCBA29;
    cursor: pointer;
}
.newgame{
    width: 228px;
    height: 40px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-radius: 4px;
    border-width: 1px;
    background: #11B5E5;
    border: 1px solid #D7D7D7;
    cursor: pointer;
}
button.correct{
    background-color: #10A95B;
}
button.wrong{
    background-color: #EC5D49;
}